[submodule "GMAP-fusion"]
	path = GMAP-fusion
	url = https://github.com/GMAP-fusion/GMAP-fusion.git
[submodule "DISCASM"]
	path = DISCASM
	url = https://github.com/DISCASM/DISCASM.git
[submodule "TrinityFusion.wiki"]
	path = TrinityFusion.wiki
	url = https://github.com/trinityrnaseq/TrinityFusion.wiki.git
[submodule "CTAT-LR-fusion"]
	path = CTAT-LR-fusion
	url = https://github.com/TrinityCTAT/CTAT-LR-fusion.git
